*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

html{
    scroll-behavior:smooth;
}

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:transparent;
    transition:0.4s;
    z-index:1000;
}

nav.scrolled{
    background:#0d6efd;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

.logo{
    color:#fff;
    font-size:28px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:#fff;
    padding:10px 15px;
    border-radius:5px;
    transition:0.3s;
}

nav ul li a:hover{
    background:#fff;
    color:#0d6efd;
}

section{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align:center;
    color:white;
    padding:20px;
}

#home{
    background:linear-gradient(135deg,#4facfe,#00f2fe);
}

#about{
    background:#6c63ff;
}

#services{
    background:#ff6b6b;
}

#portfolio{
    background:#20c997;
}

#contact{
    background:#343a40;
}

h1{
    font-size:45px;
    margin-bottom:15px;
}

p{
    font-size:20px;
    line-height:1.6;
}